.function {
  display: flex;
}
.function .param {
  width: 50%;
}
.function .output {
  width: 50%;
}
.dashboard-btn {
  margin-top: 20px;
}
.item-param {
  margin-bottom: 20px;
}
.item-param h3 {
  color: #2196F3;
  font-size: 11px;
  text-transform: uppercase;
}
.output h3 {
  color: #2196F3;
  font-size: 11px;
}